aclocal.m4
autom4te.cache
depcomp
install-sh
ltmain.sh
missing
config.guess
config.log
config.status
config.sub
configure
Makefile
Makefile.in
*.o
.deps
.libs
src/unagi
*.lo
*.la
libtool
doc/html/
doc/latex/
doc/man/
*.pc
m4/
TAGS
